# MongoDB


| DBMS | MongoDB   |
|------|------|
|   Database  | Database|
|   Table  | Collection|
|   Row  | Document|
|   Column  | Field|
|   Primary Key  | Primary Key|
|   Table Join  | Embedded Documents|

<p>Fonte <br />
<a href="https://www.datacamp.com/community/tutorials/introduction-mongodb-python" target="_blank">Introduction to MongoDB and Python</a>
</p>

## Importação

In [26]:
import pymongo
from pymongo import MongoClient
client = MongoClient()

In [27]:
client = MongoClient('mongodb://localhost:27017')
# client = MongoClient("localhost", 27017)

In [33]:
# Atribuindo a collection para variável
db = client['ovni']
ovnis_col = db['ovnis']

In [34]:
# Nome da collection
db.list_collection_names()

['ovnis']

### Operações com o mongo

In [38]:
# Conta a quantidade de documentos (linhas)
ovnis_col.count_documents({})

In [39]:
# Imprimir uma linha
print(ovnis_col.find_one({}))

{'_id': ObjectId('5d822c771ef590395455bd11'), 'City': 'Madison', 'State': 'WI', 'Shape': 'Light', 'Sight_Date': '9/30/97', 'Sight_Time': '22:00', 'Sight_Weekday': 'terça', 'Sight_Month': 12, 'Sight_Day': 24}

In [44]:
# Limitar a quantidade de linhas e imprimi-las
results = ovnis_col.find({},{ "_id": 0}).limit(5)
for x in results:
    print(x)

{'City': 'Madison', 'State': 'WI', 'Shape': 'Light', 'Sight_Date': '9/30/97', 'Sight_Time': '22:00', 'Sight_Weekday': 'terça', 'Sight_Month': 12, 'Sight_Day': 24}
{'City': 'San Francisco', 'State': 'CA', 'Shape': 'Triangle', 'Sight_Date': '9/28/97', 'Sight_Time': '23:15', 'Sight_Weekday': 'domingo', 'Sight_Month': 12, 'Sight_Day': 21}
{'City': 'Egan', 'State': 'SD', 'Shape': 'Other', 'Sight_Date': '9/27/97', 'Sight_Time': '23:00', 'Sight_Weekday': 'sábado', 'Sight_Month': 12, 'Sight_Day': 20}
{'City': 'Crestwood', 'State': 'KY', 'Shape': 'Disk', 'Sight_Date': '9/27/97', 'Sight_Time': '05:00', 'Sight_Weekday': 'sábado', 'Sight_Month': 12, 'Sight_Day': 20}
{'City': 'Clearfield', 'State': 'UT', 'Shape': 'Triangle', 'Sight_Date': '9/25/97', 'Sight_Time': '22:00', 'Sight_Weekday': 'quinta', 'Sight_Month': 12, 'Sight_Day': 18}

### Mongo com pandas

In [45]:
import pandas as pd

In [46]:
# Atribuir dados do database do mongo para o dataframe
ovnis_df = pd.DataFrame(list(ovnis_col.find()))

In [47]:
ovnis_df.describe()

          Sight_Day   Sight_Month
count  86978.000000  86978.000000
mean      15.500724      6.858918
std        9.114308      3.610422
min        1.000000      1.000000
25%        7.000000      3.000000
50%       15.000000      7.000000
75%       24.000000     10.000000
max       31.000000     12.000000

In [48]:
ovnis_df.head()

,City,Shape,Sight_Date,Sight_Day,Sight_Month,Sight_Time,Sight_Weekday,State,_id
0,Madison,Light,9/30/97,24,12,22:00,terça,WI,5d822c771ef590395455bd11
1,San Francisco,Triangle,9/28/97,21,12,23:15,domingo,CA,5d822c771ef590395455bd12
2,Egan,Other,9/27/97,20,12,23:00,sábado,SD,5d822c771ef590395455bd13
3,Crestwood,Disk,9/27/97,20,12,05:00,sábado,KY,5d822c771ef590395455bd14
4,Clearfield,Triangle,9/25/97,18,12,22:00,quinta,UT,5d822c771ef590395455bd15