# SQLite

In [3]:
import pandas as pd
from db import DB # pip3 install db.py

In [4]:
database = DB(filename='data/logs.sqlite3', dbtype='sqlite')

Indexing schema. This will take a second...finished!

In [5]:
database.tables

Refreshing schema. Please wait...done!

+--------+-------+-------------------------+
| Schema | Table | Columns                 |
+--------+-------+-------------------------+
| public | log   | id, path, user_id, date |
+--------+-------+-------------------------+

In [6]:
log_df = database.tables.log.all()

In [7]:
log_df.head()

   id                  path  user_id                 date
0   1                     /        3  2017-01-03T11:41:00
1   2              /pandas/        4  2017-01-03T11:37:00
2   3              /videos/        5  2017-01-03T10:47:00
3   4                     /        2  2017-01-03T11:51:00
4   5  /python-para-zumbis/        5  2017-01-03T10:32:00

In [8]:
log_df.dtypes

id          int64
path       object
user_id     int64
date       object
dtype: object

## Operações com banco de dados

In [17]:
sel1 = database.query('select * from log where user_id = 3 and (id > 1 and id < 50)')
sel1

   id                path  user_id                 date
0   6            /cursos/        3  2017-01-03T11:31:00
1  13  /django-ecommerce/        3  2017-01-03T11:59:00
2  16            /cursos/        3  2017-01-03T11:39:00
3  22  /django-ecommerce/        3  2017-01-03T10:35:00
4  28  /django-ecommerce/        3  2017-01-03T11:57:00
5  34            /pandas/        3  2017-01-03T11:43:00
6  38            /videos/        3  2017-01-03T11:58:00
7  47            /pandas/        3  2017-01-03T10:55:00

In [18]:
sel2 = database.query('select * from log')
len(sel2)

100

### Trabalhando com datas

In [9]:
log_df['date'] = pd.to_datetime(log_df['date'], format='%Y-%m-%d %H:%M:%S.%f') # converter data do banco de dados, em outro outro formato

In [10]:
log_df.set_index(['date'], inplace=True) # tornar a coluna date em índice

In [11]:
log_df.head()

                     id                  path  user_id
date
2017-01-03 11:41:00   1                     /        3
2017-01-03 11:37:00   2              /pandas/        4
2017-01-03 10:47:00   3              /videos/        5
2017-01-03 11:51:00   4                     /        2
2017-01-03 10:32:00   5  /python-para-zumbis/        5

In [13]:
log_df['2017'].head(10)

                     id                  path  user_id
date
2017-01-03 11:41:00   1                     /        3
2017-01-03 11:37:00   2              /pandas/        4
2017-01-03 10:47:00   3              /videos/        5
2017-01-03 11:51:00   4                     /        2
2017-01-03 10:32:00   5  /python-para-zumbis/        5
2017-01-03 11:31:00   6              /cursos/        3
2017-01-03 10:39:00   7              /videos/        4
2017-01-03 10:55:00   8              /cursos/        5
2017-01-03 11:50:00   9                     /        4
2017-01-03 11:38:00  10              /pandas/        1

In [14]:
log_df['2017-01-03 10:47']

                     id      path  user_id
date
2017-01-03 10:47:00   3  /videos/        5
2017-01-03 10:47:00  68  /cursos/        5
2017-01-03 10:47:00  87  /cursos/        2