**Atribuição na variável!** Criamos a variável `var` e atribuímos o valor 1 usando o operador `=`.

> **obs**: se programou em outras linguagens, perceberá algumas diferenças para o python:  
- Não é preciso declarar `var` antes de atribuir algum valor a ela, nem definir seu tipo
- Não deve se usar ponto-e-vírgula no fim dos comandos, a própria quebra de linha é entendido como fim do comando

In [7]:
var = 1

**Comentários** Os comentários de uma linha são feitos usando o caractere `#` e o de múltiplas linhas utilizando-se triplas aspas `"""" """`

In [8]:
# uma linha
"""
múltiplas 
linhas
"""

'\nmúltiplas \nlinhas\n'

**Espaço em branco** Os espaços em branco (ou tabulações) são usados para estruturar o código. No exemplo abaixo temos a função `soma()`, e para indicar o bloco de comandos que está dentro da função, usamos 4 espaços _ diferente do PHP por exemplo, onde usam-se chaves {} para indicar o que está dentro do bloco.

In [17]:
def soma(a, b):
    # recebe e soma a + b, e imprime o resultado
    c = a + b
    print(c)
soma(10,5)

15

**Tipos de dados**

In [26]:
# Tipo string
tipo1 = 'texto'
print(type(tipo1))

<class 'str'>

In [27]:
# Tipo inteiro
tipo2 = 2018
print(type(tipo2))

<class 'int'>

In [28]:
# Tipo float
tipo3 = 1.25
print(type(tipo3))

<class 'float'>

In [29]:
# Tipo boolean
tipo4 = True
print(type(tipo4))

<class 'bool'>

In [30]:
# Tipo list
tipo5 = [1,2,3,4, 'um', 'dois', False]
print(type(tipo5))

<class 'list'>

In [32]:
# Tipo dictionary
tipo6 = {'a': 1, 'b': 2}
print(type(tipo6))

<class 'dict'>

**Números e cálculos**

In [18]:
# Adição
soma = 10 + 5
print(soma)

15

In [19]:
# Subtração
subtracao = 10 - 1
print(subtracao)

9

In [20]:
# Multiplicação
multiplicacao = 10 * 5
print(multiplicacao)

50

In [21]:
# Divisão
divisao = 51 / 17
print(divisao)

3.0

In [34]:
# Divisão inteira
divisao = 51 // 15
print(divisao)

3

In [23]:
# Módulo da divisão
modulo = 3 % 2 #resto da divisão
print(modulo)

1

In [22]:
# Potenciação
expoente = 2 ** 3 #resultado: 2^3 = 8
print(expoente)

8

> **obs**: lembrando que a ordem das operações obedece as regras matemáticas
- 1 Operação entre parentêses
- 2 Expoentes
- 3 Multiplicação e divisão
- 4 Adição e subtração
- E quando forem operações de mesma hierarquia, sempre da esquerda para direita

In [48]:
# 2 + 9 x 3
res1 = 2 + 9 * 3 

# (2 + 9) x 3
res2 = (2 + 9) * 3 

# 2² + 9 x 3
res3 = 2 ** 2 + 9 * 3

print("A primeira operação é igual a " + str(res1) + '\na segunda operação é igual a ' + str(res2) + "\na terceira operação é igual a " + str(res3))

A primeira operação é igual a 29
a segunda operação é igual a 33
a terceira operação é igual a 31

**Imprimir valores numéricos**

In [43]:
preco_arroz = 12.99 # float
quantidade_sacos = 6 # inteiro

print('Preço do arroz: R$ %.2f' % preco_arroz)
print('Quantidade de sacos: %d' % quantidade_sacos)
print('O valor total é de R$', str(preco_arroz * quantidade_sacos))

Preço do arroz: R$ 12.99
Quantidade de sacos: 6
O valor total é de R$ 77.94

**Operações com strings**: Strings são vetores de caracteres, e por isso podem ser manipuladas como tais

In [19]:
filosofo = "Nietzsche"
print(filosofo[0]) # imprime o primeiro caractere
print(filosofo[-1]) # imprime o último caractere
print(filosofo[-3]) # imprime a 3º letra contando do fim

N
e
c

In [29]:
print(filosofo[:4]) # imprime os primeiros 4 caracteres
print(filosofo[4:]) # imprime do 4º caractere em diante
print(filosofo[-3:]) # imprime os 3 últimos caracteres
print(filosofo[3:7]) # imprime do 3º ao 7º caractere

Niet
zsche
che
tzsc

In [48]:
letra = 'A'
print(10 * letra) # imprime a letra A 10 vezes

AAAAAAAAAA

#### Concatenar

In [30]:
nome = 'Friedrich'
sobrenome = 'Nietzsche'
nome_completo = nome + ' ' + sobrenome
print(nome_completo)

Friedrich Nietzsche

In [34]:
dia_1 = 15
ano_1 = 1844
print(nome_completo + " nasceu em " + str(dia_1) + " de outubro de " + str(ano_1) +", em Röcken no Reino da Prússia.")

Friedrich Nietzsche nasceu em 15 de outubro de 1844, em Röcken no Reino da Prússia.

In [37]:
dia_2 = 25
ano_2 = 1900
print('%s faleceu em %d de agosto de %d, em Weimar, no já unificado Império Alemão.' % (nome_completo, dia_2, ano_2))

Friedrich Nietzsche faleceu em 25 de agosto de 1900, em Weimar, no já unificado Império Alemão.

### Métodos com strings

In [1]:
string = 'Oi, eu sou o Goku'

In [4]:
print(string.lower()) # lowercase
print(string.upper()) # uppercase

oi, eu sou o goku
OI, EU SOU O GOKU

In [5]:
print(string.split()) # dividir, se nenhum parâmetro for passado, a função entende o espaço como padrão

['Oi,', 'eu', 'sou', 'o', 'Goku']

In [7]:
tweet = 'Oi, eu sou o Goku #DragonBall, #sayajin, #adoroLutar, #maisForteDoMundo'
print(tweet.split('#'))

['Oi, eu sou o Goku ', 'DragonBall, ', 'sayajin, ', 'adoroLutar, ', 'maisForteDoMundo']

In [8]:
# retorna o segundo valor (índice 1) recortado
tweet.split('#')[1]

'DragonBall, '

### Imagem

In [44]:
from IPython.display import Image
from IPython.core.display import HTML
Image(url="assets/goku.jpg")