# Series

O primeiro tipo de dado que aprenderemos é a Serie. Vamos importar Pandas e explorar tal objeto.

A Serie é muito semelhante a uma matriz NumPy (na verdade, ela é construída em cima do objeto de matriz NumPy). O que diferencia a matriz NumPy de uma Série, é que uma Serie pode ter rótulos de eixos, o que significa que pode ser indexado por um rótulo, em vez de apenas uma localização numérica. Também não precisa manter dados numéricos, ele pode conter qualquer objeto Python arbitrário.

Vamos explorar este conceito através de alguns exemplos:

In [2]:
import numpy as np
import pandas as pd

### Criando uma Serie

Você pode converter uma lista, numpy array ou dicionário para uma série:

In [2]:
labels = ['a','b','c']
minha_lista = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

** Usando listas **

In [3]:
pd.Series(data=minha_lista)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=minha_lista,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(minha_lista,labels)

a    10
b    20
c    30
dtype: int64

** NumPy Arrays **

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

** Dicionários **

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Dados nas Series

Uma série de pandas pode conter uma variedade de tipos de objeto:

In [9]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [10]:
# Mesmo funções (embora seja improvável que você use isso)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Usando um Índice

A chave para usar uma Serie é entender seu índice. O Pandas faz uso desses nomes ou números de índice, permitindo pesquisas rápidas de informações (funciona como uma tabela de hash ou dicionário).

Vamos ver alguns exemplos de como pegar informações de uma Serie. Vamos criar duas Series, ser1 e ser2:

In [17]:
ser1 = pd.Series([1,2,3,4],index = ['EUA', 'Alemanha','USSR', 'Japão'])

In [18]:
ser1

EUA         1
Alemanha    2
USSR        3
Japão       4
dtype: int64

In [19]:
ser2 = pd.Series([1,2,5,4],index = ['EUA', 'Alemanha','Italia', 'Japão'])

In [20]:
ser2

EUA         1
Alemanha    2
Italia      5
Japão       4
dtype: int64

In [21]:
ser1['EUA']

1

As operações também são feitas com base no índice:

In [22]:
ser1 + ser2

Alemanha    4.0
EUA         2.0
Italia      NaN
Japão       8.0
USSR        NaN
dtype: float64

#### Mais exemplos

In [4]:
s = pd.Series([1, 4, 6, 5, 7, 10, 6])
print(s)

0     1
1     4
2     6
3     5
4     7
5    10
6     6
dtype: int64

In [7]:
print(s[0], '\n') # imprimir primeiro valor
print(s[2:4]) # imprimir do 3º ao 4º valor

1

2    6
3    5
dtype: int64

In [8]:
s.describe()

count     7.000000
mean      5.571429
std       2.760262
min       1.000000
25%       4.500000
50%       6.000000
75%       6.500000
max      10.000000
dtype: float64

In [12]:
print(s.mean()) # média
print(s.min()) # minimo
print(s.max()) # máximo
print(s.count()) # contar
print(s.std()) # desvio padrão
print(s.median()) # mediana

5.57142857143
1
10
7
2.76026223737
6.0

In [13]:
s.duplicated() # se existem valores duplicados, no caso o valor 6 está

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [14]:
s2 = pd.Series([11, 5, 8])
s = s.append(s2) # adicionando dados a uma série
print(s)

0     1
1     4
2     6
3     5
4     7
5    10
6     6
0    11
1     5
2     8
dtype: int64